* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3B4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-70196c: #70196c;
  --color-ff94f7: #ff94f7;
  --color-f3f3f3: #f3f3f3;
  --color-c96ac3: #c96ac3;
  --color-f5f5f7: #f5f5f7;
  --color-777777: #777777;
  --color-131921: #131921;
  --color-1c1c1b: #1c1c1b;
  --color-545454: #545454;
}

body {
  font-family: "Rubik", sans-serif;
}

/*Header Part */
.header-top-strip {
  border-bottom: 1px solid var(--color-3B4149);
  /* background-color:black; */
  background-color: var(--color-131921);
}
header a {
  text-decoration: none;
}
.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.input-group .form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.header-upper-links img {
  width: 35px;
  height: 35px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.header-down {
  background-color: var(--color-232f3e);
}
.header-down .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.menu-bottom .dropdown button img {
  width: 45px;
  height: 45px;
}
.menu-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 80px;
  transform: translate(0px, 57px, 0);
}
.menu-bottom .dropdown-item:hover {
  background-color: #232f3e;
}

/*Footer part*/
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
  font-weight: 400;
  font-size: 18px;
}

/*Footer part end here */

/*Home page */

.main-banner-content {
  top: 10%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 18px;
  text-shadow: 2px 2px 10px rgba(93, 91, 91, 0.488);
  font-style: italic;
  font-weight: bolder;
  line-height: 24px;
  color: var(--color-70196c);
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: bolder;
  color: #2b2b2b;
  opacity: 0.9;
  text-transform: none;
  text-shadow: 2px 2px 10px rgba(76, 76, 76, 0.654);
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  font-weight: bold;
  color: var(--color-131921);
  opacity: 0.9;
  text-transform: none;
  margin-bottom: 40px;
}
.main-banner-content .button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
  font-weight: bold;
}

.main-banner-content .button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.container-xxl.main {
  max-width: 2000px;
  width: 90%;
  margin: auto;
  background-color: transparent;
}
.small-banner {
  height: 270px;
  width: 48%;
  margin-top: 20px;
  overflow: hidden;
}
.small-banner:nth-child(1) {
  background-color: rgba(161, 233, 235, 0.543);
  background-blend-mode: screen;
  opacity: 0.8;
}
.small-banner:nth-child(2) {
  background-color: rgba(232, 202, 155, 0.484);

  background-blend-mode: screen;
  opacity: 0.8;
}
.small-banner:nth-child(3) {
  background-color: rgba(175, 238, 156, 0.511);

  background-blend-mode: screen;
  opacity: 0.8;
}
.small-banner:nth-child(4) {
  background-color: rgba(228, 164, 242, 0.543);

  background-blend-mode: screen;
  opacity: 0.8;
}

.small-banner img {
  width: 300px;
  height: 280px;
  position: absolute;
  top: 0%;
  background-color: transparent;
  right: -16%;
  z-index: 0;
}

.small-banner-content {
  top: 14%;
  left: 7%;
  border: none;
}

.small-banner-content h4 {
  font-size: 18px;
  text-shadow: 2px 2px 10px rgba(212, 68, 68, 0.307);
  font-style: italic;
  font-weight: bolder;
  line-height: 24px;
  color: #e25119;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 24px;
  line-height: 64px;
  font-style: italic;
  letter-spacing: -2px;
  font-weight: bolder;
  color: #000000;

  text-transform: none;
}

.small-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  font-weight: bold;
  color: var(--color-131921);
  opacity: 0.9;
  text-transform: none;
  margin-bottom: 40px;
}

/*Home wrapper 2 */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
  background-blend-mode: screen;
}
.servies-icon img {
  width: 60px;
  height: 50px;
}
/*Home wrapper 2 end here */
/*categories*/
.home-wrapper-2-categories {
  background-color: var(--color-f5f5f7);
  background-blend-mode: screen;
}
.home-wrapper-2-categories .categories {
  background-color: white;
  box-shadow: 0 0 10px #00000069;
  padding: 15px;
}
.container-xxl.container-categories {
  max-width: 1800px;
}
.home-wrapper-2-categories .categories > div {
  width: 24%;
}
.home-wrapper-2-categories .categories img {
  width: 200px;
  height: 130px;
}
.home-wrapper-2-categories .categories > div:nth-child(1) {
  border-right: 1px solid rgb(238, 233, 233);
  border-bottom: 1px solid rgb(238, 233, 233);
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.home-wrapper-2-categories .categories > div:nth-child(2) {
  border-right: 1px solid rgb(238, 233, 233);
  border-bottom: 1px solid rgb(238, 233, 233);
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.home-wrapper-2-categories .categories > div:nth-child(3) {
  border-right: 1px solid rgb(238, 233, 233);
  border-bottom: 1px solid rgb(238, 233, 233);
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.home-wrapper-2-categories .categories > div:nth-child(4) {
  border-bottom: 1px solid rgb(238, 233, 233);
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.home-wrapper-2-categories .categories > div:nth-child(5) {
  border-right: 1px solid rgb(238, 233, 233);
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.home-wrapper-2-categories .categories > div:nth-child(6) {
  border-right: 1px solid rgb(238, 233, 233);
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.home-wrapper-2-categories .categories > div:nth-child(7) {
  border-right: 1px solid rgb(238, 233, 233);
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.home-wrapper-2-categories .categories > div:nth-child(8) {
  margin: 4px;
  border-radius: 6px;
  padding-left: 15px;
}
.container-xxl.container-cart {
  max-width: 2000px;
  width: 95%;
}
.card-wrapper {
  background-color: white;
  box-shadow: 2px 2px 10px 2px rgba(186, 173, 173, 0.5);
  padding: 15px;
}
/*categories end*/
/*Home page end here */

/*blog page start*/
.container-xxl.container-blog {
  max-width: 2000px;
  width: 95%;
}
.card-blog {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}
.card-blog img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.card-blog .blog-content .date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.card-blog .blog-content h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  padding-top: 0;
  color: var(--color-131921);
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0;
  width: 100%;
  float: left;
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.card-blog .blog-content .card-text {
  color: var(--color-777777);
  font-size: 13px;
  line-height: 22px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.3px;
  padding-right: 0;
  margin: 0 0 15px;
}
.section-heading {
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
  color: var(--color-131921);
  padding: 0;
  position: relative;
  font-weight: bolder;
  letter-spacing: 0;
  padding: 10px 10px 29px;
}
/*blog page end here*/
/*product start here*/
.card-product {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  overflow: hidden;
}
.wishlist-icon img {
  width: 25px;
  height: 25px;
}
.card-product .product-cart-image {
  height: 200px;
}
.product-cart-image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: contain;
  transition: 0.3s;
}
.card-product .product-cart-image img:last-child {
  display: none;
  transition: 0.3s;
}
.card-product:hover .product-cart-image img:first-child {
  display: none;
  transition: 0.3s;
}
.card-product:hover .product-cart-image img:last-child {
  display: block;
  transition: 2s linear 2s;
}
.product-content p.product-caption-with-letter {
  color: #bf4800;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 12px;
  opacity: 1;
}
.product-info {
  font-size: 15px;
  font-weight: bolder;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  position: relative;
  overflow: hidden;
  word-break: break-word;
  margin: 0 0 14px;
  color: var(--color-1c1c1b);
}
.product-content .price-item {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-1c1c1b);
  opacity: 0.9;
}
.card-product .action-bar {
  top: 10%;
  right: -20%;
  transition: 0.2s linear 0.3s;
}
.action-bar img {
  width: 23px;
  height: 23px;
}
.card-product:hover .action-bar {
  right: 5%;
  transition: 0.9s linear 0.3s;
}
/*product page end here*/
/*special-product page start here*/
.container-xxl.container-special {
  max-width: 2000px;
  width: 95%;
}
.special-product-card {
  border: 1px solid red;
}
.title {
  font-size: 15px;
  font-weight: bolder;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  margin: 0 0 14px;
  width: 85%;
  font-family: var(--font-body-family);
}
.special-product-content .button-cart {
  background: var(--color-131921);
  padding: 10px 22px;
  color: #ffffff;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  border-radius: 20px;
  font-size: 15px;
}
/*special-product page end here*/

/*famous-product page start here*/
.container-xxl.container-famous {
  max-width: 2000px;
  width: 95%;
}
.famous-content {
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
}
.famous-card img {
  width: 100%;
}
.famous-content h5 {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14.3px;
  font-weight: normal;
  padding: 10px 14px;
  margin: 6px 0;
}
.famous-content h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.1px;
  font-family: Rubik, sans-serif;
  text-transform: capitalize;
  padding: 2px 14px;
}
.famous-card .famous-content p {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 2px 14px;
}
/*famous-product page end here*/
/*our-store page start here*/
.store-wrapper .filter-card {
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: white;
}
.container-xxl.container-stroe {
  min-width: 1750px;
  width: 95%;
}
.store-wrapper .filter-title {
  font-weight: bolder;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #1c1b1b;
}
.filter-card ul {
  list-style-type: none;
  padding: 4px;
  cursor: pointer;
}
.filter-card ul li {
  padding: 3px 0;
  font-size: 13.7px;
  color: var(--color-545454);
  font-weight: normal;
}
.filter-card .sub-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 10px;
}
.filter-card .form-check .form-check-label {
  font-size: 13.7px;
  font-weight: normal;
  line-height: 30px;
  color: var(--color-545454);
  cursor: pointer;
}
.filter-card .form-check .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}
.filter-card .form-check .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.9);
}
.colors.p-s0 {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 98%;
  margin: 10px;
  align-content: center;
  align-items: center;
}
.colors li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  margin: 10px 5px;
}
.random-product .product-title {
  font-size: 16px;
  font-weight: bolder;
  color: var(--color-131921);
}
.store-wrapper .random-product {
  border-bottom: 1px solid rgba(161, 158, 158, 0.251);
  margin: 10px 0;
}
.icon-img-flex-bar img{
  width: 30px;
  height: 30px;
  padding: 8px;
  background-color: white;
}
/*our-store page end here*/
.grid-product-display-2{
  width: 20%;
}
.grid-product-display-4 {
  width: 32%;
}
.grid-product-display-8{
  width: 70%;
}
.grid-product-display-12 {
  width: 100%;
}

.blog-wrapper .blog-container{
    max-width: 1902px;
    width: 90%;
}
.contact-wrapper .container-contact{
  max-width: 1902px;
  width: 90%;
}

.contact-wrapper .btnContact{
  background-color: rgb(42, 42, 42);
  padding:10px;
  border-radius: 30px;
  color: whitesmoke;
  font-size:21px;
  font-weight: normal;
}
.contact-wrapper .p-eo2{
  list-style-type: none;
}
.contact-wrapper .p-eo2 a,
.contact-wrapper .p-eo2 address,
.contact-wrapper .p-eo2 p
{
color: var(--color-777777);
letter-spacing: 0.5px;
}
