*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --color-131921:#131921;
  --color-3B4149: #3B4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-70196c: #70196c;
  --color-ff94f7:#ff94f7;
  --color-f3f3f3:#f3f3f3;
  --color-c96ac3:#c96ac3;
}

body{
  font-family: 'Rubik', sans-serif;
}

/*Header Part */
.header-top-strip{
  border-bottom:1px solid var(--color-3B4149);
  /* background-color:black; */
  background-color: var(--color-131921);
}
header a{
  text-decoration: none;
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper .input-group-text{
  background-color: var(--color-febd69);
}
.input-group .form-control:focus{
  box-shadow: none;
  border-color: inherit;

}
.header-upper-links img{
  width: 35px;
  height: 35px;


}
.gap-10{
  gap:10px
}
.gap-15{
  gap:15px;
}
.gap-30{
  gap:30px;
}
.header-down{
  background-color: var(--color-232f3e);
}
.header-down .menu-links a,
.header-bottom .dropdown button
{
  color: white;
  font-size:14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform:  uppercase;
}
.menu-bottom .dropdown button img {
  width: 45px;
  height: 45px;
}
.menu-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 80px;
  transform: translate(0px,57px,0);
}
.menu-bottom .dropdown-item:hover{
  background-color: #232f3e;
}



/*Footer part*/
footer{
  background-color: var(--color-232f3e);
}
footer:not(:first-child){
  border-top:1px solid rgba(255, 255, 255, 0.1)
}
footer .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
  font-weight: 400;
  font-size: 18px;
}

/*Footer part end here */

/*Home page */
  
.main-banner-content {
  top:10%;
  left: 5%;
}
.main-banner-content h4{
font-size: 18px;
text-shadow: 2px 2px 10px rgba(93, 91, 91, 0.488);
font-style: italic;
font-weight: bolder;
line-height: 24px;
color: var(--color-70196c);
letter-spacing: 0.3px;
text-transform: uppercase;

}
.main-banner-content h5 {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: bolder;
  color: #2b2b2b;
  opacity:0.90;
  text-transform: none;
  text-shadow: 2px 2px 10px rgba(76, 76, 76, 0.654);

}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  font-weight: bold;
  color: var(--color-131921);
  opacity: 0.90;
  text-transform: none;
  margin-bottom: 40px;

}
.main-banner-content .button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
  font-weight: bold;

}

.main-banner-content .button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.container-xxl.main{
  max-width: 2000px;
  width: 90%;
  margin: auto;
  background-color:transparent;
  
}
.small-banner{
  
  height: 270px;
  width: 48%;
  margin-top: 20px;
  overflow: hidden;
}
.small-banner:nth-child(1){
  background-color: rgba(161, 233, 235, 0.543);
  background-blend-mode: screen;
  opacity: 0.80;
}
  .small-banner:nth-child(2) {
    background-color: rgba(232, 202, 155, 0.484);

    background-blend-mode: screen;
    opacity: 0.80;
  }
.small-banner:nth-child(3) {
  background-color: rgba(175, 238, 156, 0.511);

  background-blend-mode: screen;
  opacity: 0.80;
}
.small-banner:nth-child(4) {
  background-color: rgba(228, 164, 242, 0.543);

  background-blend-mode: screen;
  opacity: 0.80;
}

.small-banner img{

  width: 300px;
  height: 280px;
  position: absolute;
  top: 0%;
  background-color: transparent;
  right: -16%;
  z-index: 0;
  
}


.small-banner-content {
  top: 14%;
  left: 7%;
  border:none;

}

.small-banner-content h4 {
  font-size: 18px;
  text-shadow: 2px 2px 10px rgba(212, 68, 68, 0.307);
  font-style: italic;
  font-weight: bolder;
  line-height: 24px;
  color: #e25119;
  letter-spacing: 0.3px;
  text-transform: uppercase;

}

.small-banner-content h5 {
  font-size: 24px;
  line-height: 64px;
  font-style: italic;
  letter-spacing: -2px;
  font-weight: bolder;
  color: #000000;

  text-transform: none;
  

}

.small-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  font-weight: bold;
  color: var(--color-131921);
  opacity: 0.90;
  text-transform: none;
  margin-bottom: 40px;

}


  
  

/*Home page end here */